.header__logo {
  width: 90px;
  margin-left: 200px;
  margin-left: 650px;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 90px;
    margin-left: 160px;
    margin-top: 50px;
  }
}

.h1--header {
  font-family: "Bai Jamjuree";
  font-weight: 600;
  color: hsl(210, 10%, 33%);
  text-align: center;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .h1--header {
    font-family: "Bai Jamjuree";
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    text-align: center;
    margin-top: 50px;
  }
}

.header--p {
  font-family: "Bai Jamjuree";
  font-weight: 400;
  color: hsl(201, 11%, 66%);
  font-size: 18px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .header--p {
    font-family: "Bai Jamjuree";
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    font-size: 18px;
    text-align: center;
  }
}

.ios--btn {
  border: 0;
  border-radius: 50px;
  background-color: hsl(171, 66%, 44%);
  font-family: "Bai Jamjuree";
  font-weight: 600;
  padding: 20px;
  cursor: pointer;
  color: #fff;
  margin-left: 520px;
  margin-bottom: 50px;
  margin-right: 10px;
  box-shadow: 0 3px 10px 0 hsl(171, 66%, 44%);
}

@media screen and (max-width: 768px) {
  .ios--btn {
    border: 0;
    border-radius: 50px;
    background-color: hsl(171, 66%, 44%);
    font-family: "Bai Jamjuree";
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    margin-left: 125px;
    padding: 20px;
  }
}

.mac--btn {
  border: 0;
  border-radius: 50px;
  background-color: hsl(233, 100%, 69%);
  font-family: "Bai Jamjuree";
  font-weight: 600;
  padding: 20px;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 768px) {
  .mac--btn {
    border: 0;
    border-radius: 50px;
    background-color: hsl(233, 100%, 69%);
    font-family: "Bai Jamjuree";
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    margin-left: 620px;
    margin-top: 25px;
    margin-left: 125px;
    padding: 20px;
  }
}

.columnheader--h2 {
  font-family: "Bai Jamjuree";
  font-weight: 600;
  color: hsl(210, 10%, 33%);
  margin-top: 100px;
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .columnheader--h2 {
    font-family: "Bai Jamjuree";
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
  }
}

.columnheader--p {
  font-family: "Bai Jamjuree";
  font-weight: 400;
  color: hsl(201, 11%, 66%);
  text-align: center;
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .columnheader--p {
    font-family: "Bai Jamjuree";
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    text-align: center;
    margin-bottom: 70px;
    font-size: 18px;
  }
}

.computer--div {
  margin-right: 50px;
  margin-left: -70px;
}

@media screen and (max-width: 768px) {
  .computer--div {
    align-items: center;
    justify-content: center;
    width: 300px;

    margin-left: 60px;
  }
}

.h3--img {
  font-family: "Bai Jamjuree";
  font-weight: 600;
  color: hsl(210, 10%, 33%);
}

@media screen and (max-width: 768px) {
  .h3--img {
    font-family: "Bai Jamjuree";
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    text-align: center;
    font-size: 25px;
  }
}

.p--img {
  font-family: "Bai Jamjuree";
  font-weight: 400;
  font-size: 18px;
  color: hsl(201, 11%, 66%);
}

@media screen and (max-width: 768px) {
  .p--img {
    font-family: "Bai Jamjuree";
    font-weight: 400;
    font-size: 18px;
    color: hsl(201, 11%, 66%);
    text-align: center;
  }
}

.com--img {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .com--img {
    display: block;
  }
}

.clipboard--h3 {
  font-family: "Bai Jamjuree";
  font-weight: 600;
  color: hsl(210, 10%, 33%);
  text-align: center;
  margin-top: 200px;
}

@media screen and (max-width: 768px) {
  .clipboard--h3 {
    font-family: "Bai Jamjuree";
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
  }
}

.clipboard--p {
  font-family: "Bai Jamjuree";
  font-weight: 400;
  color: hsl(201, 11%, 66%);
  font-size: 18px;
  text-align: center;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .clipboard--p {
    font-family: "Bai Jamjuree";
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
  }
}

.column2--h3 {
  font-family: "Bai Jamjuree";
  font-weight: 600;
  color: hsl(210, 10%, 33%);
  text-align: center;
  font-size: 35px;
}

@media screen and (max-width: 768px) {
  .column2--h3 {
    font-family: "Bai Jamjuree";
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    text-align: center;
    font-size: 35px;
  }
}

.column2--p {
  font-family: "Bai Jamjuree";
  font-weight: 400;
  color: hsl(201, 11%, 66%);
  text-align: center;
  font-size: 18px;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .column2--p {
    font-family: "Bai Jamjuree";
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
  }
}

.img--device {
  margin-left: 240px;
}

@media screen and (max-width: 768px) {
  .img--device {
    width: 300px;
    margin-left: 60px;
  }
}

.footer--h3 {
  color: hsl(210, 10%, 33%);
  font-family: "Bai Jamjuree";
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer--h3 {
    color: hsl(210, 10%, 33%);
    font-family: "Bai Jamjuree";
    font-weight: 600;
    text-align: center;
  }
}

.footer--p {
  color: hsl(201, 11%, 66%);
  font-family: "Bai Jamjuree";
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer--p {
    color: hsl(201, 11%, 66%);
    font-family: "Bai Jamjuree";
    font-weight: 400;
    text-align: center;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  column-gap: 1rem;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1rem;
  }
}

.flex-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .flex-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer--img {
  width: 50px;
}

@media screen and (max-width: 768px) {
  .footer--img {
    width: 50px;
  }
}

.flex2 {
  display: block;
}

@media screen and (max-width: 768px) {
  .flex2 {
    display: block;
  }
}

.logos--img {
  margin-right: 20px;
  margin-left: 90px;
  margin-top: 100px;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .logos--img {
    justify-content: center;
    align-items: center;
    margin-left: 130px;
    margin-bottom: 50px;
  }
}

.logos--img1 {
  margin-left: 90px;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .logos--img1 {
    justify-content: center;
    align-items: center;
    margin-left: 130px;
  }
}

.logos--img2 {
  margin-left: 90px;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .logos--img2 {
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 130px;
  }
}

@media screen and (max-width: 768px) {
  .logos-div {
    display: block;
  }
}

.footer {
  background-color: #e5e5e5;
  display: flex;
  margin-top: 50px;
  padding: 40px 0;
}

@media screen and (max-width: 768px) {
  .footer {
    background-color: #e5e5e5;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    text-align: center;
  }
}

.footer__logo {
  width: 50px;
  height: 50px;
  margin-top: 12px;
  margin-left: 150px;
  margin-right: 50px;
}

@media screen and (max-width: 768px) {
  .footer__logo {
    width: 50px;
    height: 50px;
    margin-top: 12px;
    margin-left: 190px;
  }
}

.footer--list {
  list-style-type: none;
  font-family: "Bai Jamjuree";
  font-weight: 600;
  color: hsl(210, 10%, 33%);
  margin-bottom: 30px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .footer--list {
    list-style-type: none;
    font-family: "Bai Jamjuree";
    font-weight: 600;
    color: hsl(210, 10%, 33%);
    margin-bottom: 30px;
    cursor: pointer;
  }
}

.footer--list:hover {
  color: hsl(171, 66%, 44%);
  transition: 0.5s;
}

.fb-tweet-ig1 {
  width: 20px;
  height: 20px;
  margin-left: 450px;
  margin-top: 25px;
}

@media screen and (max-width: 768px) {
  .fb-tweet-ig1 {
    margin-left: 170px;
  }
}

.fb-tweet-ig {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-top: 25px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .fb-tweet-ig {
    width: 20px;
    height: 20px;
    margin-top: 25px;
    cursor: pointer;
    margin-bottom: 50px;
  }
}

.all__logo {
  display: flex;
}

.icloud {
  margin-top: 50px;
  margin-bottom: 50px;
}
